<div class="header">
  <!-- Please Select Your Favourite Team -> -->
  <div class="dropdown">
    <button class="dropbtn">Favourite Team 
      <i class="fa fa-caret-down"></i>
    </button>
      <div class="dropdown-content" *ngFor="let team of teams">
      <a class="team-selection" *ngFor="let team of teams" (click)="onSelect(team)">{{team.name}}</a>
      
     
    </div>  
    <!-- <p>Your selected team is {{team.name}}</p> 
    <p>Your selected team is {{myTeam.name}}</p>-->
  </div> 
    
  <!-- <div class="logo">
          <img src="logo.jpg" alt="" height="40" width="70">
  </div> -->
</div>





