
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Venue</th>
                <th>Round</th>
        </thead>
        <tbody>
            <tr *ngFor="let game of nextFive">
    
                <td>{{game.date}}</td>
                <td>{{game.hteam}}</td>
                <td>{{game.ateam}}</td>
                <td>{{game.venue}}</td>
                <td>{{game.round}}</td>
              </tr>
        </tbody>
            </table>
        
      </div>
<!-- <div>
  <h2>{{team.name}}</h2>
</div> -->

<!-- <div>
  <li class= "items" *ngFor="let game of nextFive">
   <span>{{game.hteam}}</span> {{game.ateam}}
  </li>
</div> -->