.navbar{
    border: 1px solid  #324960;
    overflow: hidden;
     background-color: #324960;
     height: 50px;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    font-family: Helvetica;
   }
   .navbar a{
     overflow: hidden;
     color: #ffffff;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     font-weight:700;
     font-family: Helvetica;
   }
   /* img{
   margin-left:20px;
       float:left;
       marigin-left:20px;
       border-radius: 4px;
     padding: 5px; 
      
   }
    */
    .active-tab {
      color: white !important;
      font-family: Helvetica;
      background: #4FC3A1;
    }
   