
<app-user-fav-team></app-user-fav-team>
<div class="navbar">
  <!-- <span role="presentation" routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">HOME</a></span> -->

  <span role="presentation" ><a routerLink="/upcoming" routerLinkActive="active-tab">Upcoming </a></span>
  <span role="presentation" ><a routerLink="/next-game-prdeiction" routerLinkActive="active-tab">Next Match Prediction</a></span>
  <span role="presentation" ><a routerLink="/next-five" routerLinkActive="active-tab">Next 5 Games</a></span>
  <span role="presentation" ><a routerLink="/head-to-head" routerLinkActive="active-tab">Head-To-Head</a></span>
  <span role="presentation"><a routerLink="/my-team-rank" routerLinkActive="active-tab">Points Table</a></span>
  <span role="presentation" ><a routerLink="/my-team-results" routerLinkActive="active-tab">Favorite Team Played</a></span>
</div>

<router-outlet></router-outlet>
